# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

gradlew
gradlew.bat
settings.gradle
.idea/
build/
gradle/
.gradle/